<h2>Story.<span style="color: skyblue;">js</span></h2>
<div>
   <p>Create public and private stories from your life</p> 
</div>
<hr>
<div>
    <a href="/auth/google" class="btn"> <img src="https://img.icons8.com/fluent/2x/google-logo.png" alt="">Login with google</a>
</div>